{% extends "layout.html" %}

{% block title %}Clients Table{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <h2>{{ client.nickname or client.mac_address }}</h2>
    </div>
    <div class="col-md-4">
        <a class="btn btn-outline-primary nav-button mb-2" id="shutdown-button">Shutdown</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- First Table (Existing Table) -->
        <div>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Latest Version</th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    {% if programs %}
                        {% for installedProgram in programs %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ installedProgram.name or "N/A" }}</td>
                                <td>{{ installedProgram.version or "N/A" }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center text-muted">No installed programs available.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // JavaScript to handle the button click and send a request to the backend
    document.getElementById('shutdown-button').addEventListener('click', function() {
        fetch('/api/clients/shutdown', {
            method: 'POST',  // HTTP method
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'mac_address': '{{ client.mac_address }}'  // Send mac_address in the body
            })
        })
        .then(response => response.json())  // Parse JSON response
        .then(data => {
            console.log(data);  // Handle response data
        })
        .catch(error => console.error('Error:', error));  // Handle any errors
    });
</script>

{% endblock %}
