{% extends "layout.html" %}

{% block title %}Clients{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="jumbotron text-dark">
                <h1 class="display-4 text">Clients</h1>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            {% for client in clients %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <a href="/clients/{{ client.mac_address }}" class="card card-client hover-button bg-off-white shadow-sm">
                        <div class="card-body text-center">
                            <p class="card-text">{{ client.nickname or client.mac_address }}</p>

                            {% if client.shutdown %}
                                <p class="card-text">🔴</p>
                            {% else %}
                                <p class="card-text">🟢</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% else %}
                <p class="text-muted text-center">No clients available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
